:root {
  --secondary-color: #86198f;
  --primary-color: rgb(21, 30, 189);
}

body {
  font-family: "Anek Malayalam", sans-serif;
  margin: 0px;
}
hr {
  margin: 2rem 0rem;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.noob {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nib {
  padding-left: 1rem;
  padding-right: 1rem;
}
.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem 0.5rem;
}
.secondary-link {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.non-bullet {
  list-style: none;
}

.inline-order {
  display: inline;
  padding: 0rem 1rem;
}
.navi {
  background-color: var(--primary-color);
  color: white;
  border-bottom-left-radius: 1rem;
  padding: 1rem 0rem;
}

.navi .link {
  color: white;
}

.navie {
  text-align: right;
}
.link-active {
  font-weight: bold;
}
.tae {
  font-weight: bold;
  padding: 0rem 1rem;
}
.hero .kaido {
  max-width: 350px;
  display: block;
  margin: auto;
  padding-top: 1rem;
}
.zoro {
  color: #9ca3af;
  padding-top: 1rem;
  font-size: 2rem;
}
.hero {
  padding: 1rem 0 rem;
  text-align: center;
}
.zoro .sanji {
  color: var(--primary-color);
}
.section {
  padding: 2rem 15rem;
}
.section h2 {
  text-align: center;
}
.bruh h2 {
  text-align: center;
}
.bruh {
  background-color: #d1d5db;
  border-bottom-left-radius: 0.2rem;
}

.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  text-align: center;
}
.footer-heading {
  font-size: 2rem;
  font-weight: bold;
}
.footer .link {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 1rem;
}
.hero .zoro {
  color: black;
}
.text {
  text-decoration: none;
}
